/* 

#ff3232
#ffbce3
#fe85ac
#c24f77

*/

body{
  font-family: 'Cuprum', sans-serif;
  background-color: #a82525;
}
.media {
  position: absolute;
  right: 5vw;
  top: 5vh;
}
.media img{
  width: 600px;
  height: 400px;
  padding: 50px;
}

.bg-gif{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url("https://c.tenor.com/eDfGjJ4hp_4AAAAS/red-blood-cells-national-geographic.gif");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.main-body{
  top: 5vh;
  left: 5vw;
  position: absolute;
  padding: 100px;
  opacity: 80%;
  font-size: 10px;
  border: solid 2px #8a1010;
  border-radius: 1%; 
  width: 30vw;
  height: 70vh;
  color: black;
  background-color: #ff2222;
}
.main-body img{
  width: 600px;
  height: 400px;
  padding: 50px;
}
.main-body button{
  box-shadow: -2px 5px 5px black;
  border: 0.5px solid black;
  background-color: #ec8d8d;
  font-family: 'Cuprum', sans-serif;
  font-size: 40px;
  cursor: pointer;
}

.main-body button:hover{
  transition: 0.2s;
  box-shadow: -0.5px 1px 2px black;
  border: 0.5px solid black;
  background-color: #c77878;
  font-family: 'Cuprum', sans-serif;
  font-size: 45px;
  cursor: pointer;
}